<footer class="footer bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; The Drive Begins 2020</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/TheDriveBegins" target="_blank" (click)="twitterClick()">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://fb.me/thedrivebegins" target="_blank" (click)="facebookClick()">
              <fa-icon [icon]="faFacebookF"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/thedrivebegins" target="_blank" (click)="instagramClick()">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/thedrivebegins" target="_blank" (click)="linkedinClick()">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href=" https://www.youtube.com/channel/UC9yVtbuYoh1qGYcyQodnV3Q/featured" target="_blank"
              (click)="youtubeClick()">
              <fa-icon [icon]="faYoutube"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
