<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About The Site</h2>
        <h3 class="section-subheading text-muted">More than just about Cars</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="dot-dorset"></span>
        <h4 class="service-heading">Celebrating Dorset</h4>
        <p class="text-muted">I will be showing you some of the fantastic places to go here in Dorset for food, drink
          and
          adventure. I will be introducing you to local businesses and entrepreneurs. There are many great drives in
          and around
          Dorset, I intend to take you on these drives and show you some of the beautiful sights.</p>
      </div>
      <div class="col-md-4">
        <span class="dot-car-chat"></span>
        <h4 class="service-heading">Car Blogs</h4>
        <p class="text-muted">The type of car blogs you will see will vary from talking about classic, modern and new
          cars. I will be writing blogs from Q and A's from actual car owners, about what is the best car for a
          budget. I want to write blogs that make you laugh and that you can relate to.</p>
      </div>
      <div class="col-md-4">
        <span class="dot-car-passion"></span>
        <h4 class="service-heading">Car Life.. Car Passions</h4>
        <p class="text-muted">I will be bringing you blogs of all things car related.. such as car shows, books,
          people, car clubs just to name a few. There are so many topics in this area and I want to bring them to you.
        </p>
      </div>
    </div>
  </div>
</section>
