<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 pb-2">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="../../assets/Logos/Clients/logo-mustard.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 pb-2">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="../../assets/Logos/Clients/logo-cherry.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 pb-2">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="../../assets/Logos/Clients/logo-sea-green.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 pb-2">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="../../assets/Logos/Clients/logo-fuchsia.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
