<body id="page-top">

  <!-- Navigation -->
  <app-navbar-header></app-navbar-header>

  <!-- Header -->
  <app-header></app-header>

  <!-- About the site -->
  <app-about-the-site></app-about-the-site>

  <!-- Blog Grid -->
  <app-blog-grid></app-blog-grid>

  <!-- About -->
  <app-about></app-about>

  <!-- Clients -->
  <app-clients></app-clients>

  <!-- Contact -->
  <app-contact-us></app-contact-us>

  <!-- Footer -->
  <app-footer></app-footer>

  <!-- Blog Modals -->
  <app-blog-modal></app-blog-modal>


  <button (click)="topFunction()" id="myBtn" title="Go to top">Top</button>
</body>
