 <!-- Modal 1 -->
 <div class="blog-modal modal fade" id="blogModal1" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto">
             <div class="modal-body">
               <img class="img-fluid d-block mx-auto" src="../../assets/Blog-Modals/magnus-walker-full.png" alt="">
               <p>Magnus Walker first came to my attention by chance, while searching on YouTube watching car videos
                 I came across one called 'Urban Outlaw' which was filmed by Tamir Moscovici. It caught my attention
                 because, unlike the majority of videos, this one was just over 30 minutes. It therefore had my
                 interest. I watched it, I loved it and then as usual I
                 dreamt how I can get a classic and modify it. Now I wouldn’t say I’m a devoted fan of
                 Magnus as I don’t follow all his videos, blogs, articles etc but I would definitely say I am a fan. If
                 I know he is going to be on TV I will watch him or if I see a clip of a YouTube video with him in it I
                 will watch it. Because I love classic cars, I'm fascinated by his creations and he is so
                 interesting that he captures my attention.</p>

               <p>So thats the short of how I got to know about Magnus Walker and what he does. But that's as far
                 as it went until I discovered his book. I actually came across his book by complete chance again. Now I
                 love
                 reading, I love to read about people, entrepeneurs, business stories, sport athletes to name a few. I
                 was walking in the autobiography/biography section in my local library looking for some books when I
                 saw a face and logo I recognised. My first reaction was 'no way that's the guy from YouTube and who
                 talks about Porsches, he has his own book now. Wow I need to flick through this and see what it's
                 about'. After flicking through the book I realised that this book is more than just about cars, it's
                 about his
                 life, how he came to where he is now and how he became successful in business - the highs and the lows.
                 And these are the type of stories I love.</p>

               <p>Now I had to wonder how long this book has this been out. So I had a look online and it
                 came out in June 2017! I had no idea he had released a book, as I said I'm a fan of his but not one
                 that keeps in the loop about all he does. So I picked it up super impressed that I found this book, it
                 felt like fate that I was meant to find this book and re-ignite my dream of owning a classic car or
                 modifying it to my heart's content. And it did for a couple of days before reality kicked in and I
                 realised that was not yet attainable. I actually loved this book so much I read it twice within a few
                 weeks! This book ticks all
                 my boxes for what I love and enjoy in a book.</p>

               <figure class="quote">
                 <blockquote>
                   I've met billionaire Porsche owners who are down to earth and relate to what I'm doing. I would never
                   have met those guys if it wasn't for
                   the connection with Porsche. It's my drug, it's my religion, it's what brings people together. Like I
                   said, Porsche passion.
                 </blockquote>
                 <figcaption>
                   &mdash; Magnus Walker </figcaption>
               </figure>
               <p></p>

               <p>You are probably thinking why do a review on a book that’s been out for a few years. Well simple
                 answer for you: it's so good I felt compelled to write about it and share my review. And like me
                 you may not have realised this book actually exists. As soon
                 as I started reading it I was hooked. It screamed out to the inner me... my love for business,
                 entrepreneurship, cars, Porsches, starting with nothing and making something. I
                 couldn’t put this book down I just wanted to read page after page and be taken on the journey that
                 Magnus has been on.</p>

               <p>So what is it that I love so much about this book? What is so great about it? Let me talk you through
                 it and give you an
                 overview. The book is split over 15 chapters going into where his story started through to where he is
                 now. Some chapters make you think 'wow did that happen? How did he achieve that?' I’m not going into
                 each chapter in detail as I don’t want to
                 spoil the book for you, I just want to give you an overview. I won't be that person that gives
                 away all the spoilers!</p>

               <p>It hasn’t been easy for Magnus to get to where he is today. He has been
                 broke, living off friends sofas, not having an idea where his life was going. But then fate plays a
                 hand and gets him into the fashion industry. He took a job on Venice beach selling clothes from a
                 stall, where he observed another stall selling second hand clothes, which gave him the
                 inspiration for what leads next.</p>

               <p>So he started going around to places like The Salvation Army picking
                 up Levi’s, and to make the jeans stand out he started customising the
                 clothes putting his own spin on the design and putting patches on them. This was the start of his
                 adventure into the fashion
                 industry and starting a business. This business would grow and grow and eventually lead to rock stars
                 and other celebrities wearing his clothes. What I got from these chapters of this part of his story is
                 if you are doing something you are passionate about, something that you love you can make it succeed.
                 It’s not going to be easy and nothing will be handed to you but be tenacious and hard work will pay
                 off. Also, he wasn't alone in this venture so another take away was surround yourself with great
                 people.</p>

               <p>A phrase he says over and again in the book is to go with your gut feeling, just go with it and
                 see where it takes you. Simple advice but so true as long as you have the balls to go with your gut
                 feeling!</p>

               <figure class="quote">
                 <blockquote>
                   In many ways it's real simple: listen to your gut instinct, take risks and seize opportunities,
                   inject
                   your personality into everything you do and make sure you stay passionate about your work.
                 </blockquote>
                 <figcaption>
                   &mdash; Magnus Walker </figcaption>
               </figure>
               <p></p>

               <p>Now he talks about his success but also about Karen his wife and how together they created this
                 clothing business. It took their great partnership to create the business and make it a success. You
                 will hear a lot about Karen and how much she means to him and one of the chapters later on in the book
                 is really sad, you will see why when you read it. As their business grew they needed to expand
                 their operations and also they needed somewhere to live. So going with his gut feeling Magnus bought a
                 warehouse that needed a lot of work, a renovation is putting it mildly!</p>

               <p>To jump forward in the story,
                 this building transformed their lives. It created a new business and in my opinion was the catalyst of
                 what was to come for the Porsche 911’s. As Magnus was starting to make
                 noise in the Porsche world he was getting a lot of interest which lead to the short movie that
                 transformed his life – the film Urban Outlaw. If you haven’t seen it watch it. (You can watch it on
                 YouTube).</p>

               <p>Moving on from the Urban Outlaw film, in the rest of the book Magnus talks about what happened after
                 the
                 film was released and the impact it had on his and Karen's life. From appearing on Top Gear to the
                 expansion of his business in creating outlaw Porsches. The final few chapters are fantastic - delving
                 into cars, his life and other business adventures.</p>

               <p>Overall, what I got from this book was that you should go with you gut instinct. If it feels right
                 then go for it, and see where it takes you. Magnus did this time and time again and look where
                 it got him. He has been on a long adventure from sofa jumping and handouts from friends, to owning a
                 successful business and doing what he loves. The book for me really does inspire you to follow your
                 passion and see where life takes you...</p>

               <p>My recommendation is for anyone who loves cars, business, entrepreneurs and Porsches this is the book
                 for you I am sure you will enjoy it as much as I have.</p>

               <figure class="quote">
                 <blockquote>
                   Listen to your gut instinct, take risks and seize opportunities, put your personality into everything
                   you do and make sure you are passionate about your work, remember where you came from, never give up
                   on the goal, never give up on the dream, stay motivated, stay dedicated, work hard.....And never,
                   ever let dirt slow you down
                 </blockquote>
                 <figcaption>
                   &mdash; Magnus Walker </figcaption>
               </figure>
               <p></p>

               <ul class="list-inline">
                 <li>Written March 2020</li>
                 <li> <span class="copyright">Copyright &copy; The Drive Begins 2020</span></li>
               </ul>
               <button class="btn btn-primary" data-dismiss="modal" type="button">
                 <fa-icon [icon]="faTimes"></fa-icon>
                 Close
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal 2 -->
 <div class="blog-modal modal fade" id="blogModal2" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto">
             <div class="modal-body">
               <img class="img-fluid d-block mx-auto" src="../../assets/Blog-Modals/beaulieu-full.png" alt="">
               <p>In August 2019 I went to the Beaulieu Supercar weekend, I was meant to go last year but I didn’t get
                 round
                 to it so this year I was determined to go. Luckily for that weekend the weather was great which helped
                 as it’s just not the same walking around a car show in the rain compared to the sun beating down.
               </p>

               <p>If you haven’t heard of Beaulieu before it is a well known attraction in the New Forest in Hampshire.
                 It
                 is known for its' car museum that holds over 250 vehicles which range from vintage cars, classic cars,
                 motor bikes, F1 cars and land speed record cars. There is also the palace house, the grounds and
                 gardens, a secret army exhibition, Beaulieu Abbey, a monorail and ‘The World of Top Gear’. So an
                 attraction for all the family. If you want more information go to beaulieu.co.uk.</p>

               <p>So my review of the car show.. Driving to Beaulieu is pleasant because the drive through the New
                 Forest
                 is just beautiful and it is an enjoyable experience to cruise in your car taking in the sights. A
                 little tip -
                 it is cheaper to buy tickets online before you go and you can queue jump.</p>

               <p>What I want to do with this review is walk you through the show so you get a good idea of what you
                 can expect if you choose to go for the 2020 show. Before going to car shows I like to know what I can
                 expect so I can decide if its worth my money and time. I like to do some research reading reviews and
                 what people say about the show. However, I have not come across anyone doing a walking show review, so
                 this
                 is what I am going to do for you.</p>

               <p> On arrival to the show, you are greeted with the gift shop as soon as you walk
                 through the entrance. The first car I came across was the new Toyota Supra, the
                 Aerial Atoms and an Aerial Atom motorbike. Going on into the main area they had Jaguars lined up such
                 as the F-type, the Project 8 XE and the R ranges. Walking through the Jaguars I then moved onto some
                 beautiful Mercedes such as the AMG’s and Brabus Wagons. Further on from the Mercedes there was a line
                 of Dodge Vipers, these cars looked amazing they had some that looked standard and some that were raced
                 up with the styling. After the Vipers they had a few McLaren's lined up such as the 570 and the 720
                 models. Now I love these cars, absolutely beautiful cars and I have driven the 570 and that car is just
                 on another level - its' speed, the handling.. just wow! I got stuck by these cars for a while as the
                 crowds were large and it seemed like a good opportunity to take some photos. They also had
                 some Aston Martins, Bentleys and a Jaguar Project 8 car. All looking beautiful.</p>

               <p> Moving on from these cars I walked into the electric car zone. They had the Tesla range and this
                 section was really busy as the cars cause a great stir among the crowds. The sales people were
                 encouraging
                 people to get in the cars and play around just to have fun checking it out. This was a really good area
                 and was well done by the Tesla team. I am massively impressed with the Tesla’s and I have Elon Musk's
                 book which is called 'Elon Musk: How the Billionaire CEO of SpaceX and Tesla is Shaping our Future'
                 which is written by Ashlee Vance. I really recommend this book, I found it a great read and it's very
                 interesting just to understand how he works. They also had electric cars from Jaguar, BMW and Nissan -
                 I am not a fan of electric cars as yet, I don't believe that they are the answer - but that's
                 a whole different topic which I won't be getting into here!</p>

               <p>The show wasn’t just about walking around looking at cars they also had demonstrations. They had a
                 straight piece of road separating one side of the show to the other and here they had cars accelerate
                 fast then slam on the breaks in the middle, stop for the crowd then speed off to the end of the
                 straight. They had some nice cars such as Lamborghini’s, Ferrari’s, Maserati's, Mustang's, an Audi RS6
                 and
                 the Jaguar Project 8 to name a few. They also had a sound off, so they had a selection of cars such as
                 Mustangs, Nissan GTR and Audi R8’s. This is basically where the owner of each car would rev the nuts
                 off their car to see who had the loudest! The Nissan GTR won this.. it wasn’t a standard GTR! This
                 was located in the main display area, near to where the Mclarens were.</p>

               <p>Following from watching the sound off, they had two fields split by a mound, so walking off to the
                 left I was greeted by a mix of super cars all lined up. They had Ferrari’s, Aston Martin’s and then on
                 to lots of McLaren's all in a vast range of colours. Walking on and into the Aston Martin’s, they had
                 some lovely DB5’s in great condition. These cars looked superb, just beautiful cars. There were plenty
                 DB9’s parked up and a few other classics dotted around but mainly the more recent models were on show.
                 There was a small Audi section, where you had the R8’s, RS4’s, RS6’s and a few S4 estates. Moving on
                 and
                 there were some Jaguars sharing some space with Nissan Skylines and several GTR’s. The TVR owners club
                 had a section, a few nice examples and lots of noise! The TVR club seemed to having their own sound off
                 and were having a great time.</p>

               <p>At this point it was time for a coffee break and a chance to sit and look over the car displays
                 talking about my favourite cars. Next up was a great selection of Lotus’s and I will say that the Exige
                 350 is a great looking car, I was really impressed with the newer Lotus’s. The Lotus fans certainly
                 turned up to the show and was great to see these cars. The majority of the Ferrari owners had parked up
                 near to the Lotus’s and there were some beautiful cars on display such as the 488 spider, Testa Rosta,
                 F355 and the 360 Modena to name a few. After I had finished drooling and taken plenty of photos of the
                 Ferrari’s the Porsches were out in real force. Lots and lots of Porsches! A Porsche main dealer had
                 come to the show and I think they must have brought their entire stock! They had ample 911’s,
                 Boxer’s, GT3’s, Caymans and several classic 911’s dotted about. You name it they had brought it.</p>

               <p>After the Porches, Lamborghini had their own display with the Lamborghini owners club and a main
                 dealer. You have to admire the design of the Lamborghini’s they just look fantastic and everything a
                 supercar should look like. The aventador design just gets me every time it looks so aggressive I just
                 love it. There were
                 several Gallardos, Huracans and they had a Urus which had ridiculously big wheels on it. The Urus
                 actually went up and down the straight, it sounded great and was super quick. And one of my icons, the
                 poster on the wall of my childhood bedroom the Lamborghini Diablo! I don’t find it as great to look at
                 now but
                 I
                 still love it.</p>

               <p>After the Lambo’s there was a huge following of Mustangs. The owners club of the Mustangs was huge,
                 they had several of the classic Mustangs but it was mainly the new Mustangs. The owners of the cars had
                 modified them all with custom designs inside the bonnet, such as eagles and the Avengers. There was a
                 lot of chrome on display! Chrome wheels, grills, skirts and exhausts. But you know what, I do like the
                 new Mustangs, they have done well with the design and the car’s look aggressive and noisy which is what
                 I love. This area of the show was really good and you could see the interest in the cars by the
                 amount of people looking around these cars.</p>

               <p>The final part of the show was the Super Car garden which was placed by the Palace House. These super
                 cars were placed around the garden marked off with rope as they are the rarer models and worth a fair
                 amount of money. It was a great sight and they had one of my all time favourite cars: the Jaguar XJ220.
                 I just love this car for the design and in its' day the power and speed. After the Jaguar I walked to
                 check out the Ferrari F40 in all its' glory. This car was spotless and in immaculate condition, it just
                 looked phenomenal. After that I walked on to a beautiful Aston Martin DB5 in burgundy, one of my
                 favourite colours, and it looked sensational. Again in pristine condition. Moving on, I came across a
                 modern
                 supercar - the amazing Koenigsegg CCXR! This was a real surprise to see this car at the show, and
                 earlier
                 on in the day it was bombing up and down on the straight. The noise from this car was beautiful, the
                 roar from the exhausts was music to my ears. Seeing this car parked up was definitely a 'wow' moment.
                 With the way the doors sit open and then seeing the engine in the rear. Very impressive.</p>

               <p>After the Koenigsegg there was another Mclaren, some Ferraris, a rare Mercedes SLR Mclaren. Then
                 tucked in the corner looking over the lake was a bright green Lamborghini Miura looking rather cool.
                 Now as I have mentioned already there were a lot of Mclarens there... but there was one I was not
                 expecting to see and that was the Mclaren Senna! In red and black with a huge rear wing this car was an
                 absolute show stopper. The aerodynamic design of this car is phenomenal, it really is worth going on
                 the Mclaren website and having a read up on this car.</p>


               <p>Walking on there was a lovely Noble M600 in a beautiful dark green. The colour suited this car
                 perfectly and
                 the cars styling for me meant it did not look out of place with all the other supercars around it. Now
                 I came to an absolute beast of a car.. the Bugatti Chiron! The car was in blue and silver and it looked
                 amazing, another showstopper of a car. Parked up next the Chiron was none other than a very aggressive
                 looking Lamborghini Aventador in bright green.</p>

               <p>After looking around the supercars the last part of the show was the 4x4s parked around in the long
                 grass and the trees. A good set up of Range Rovers, Land Rovers, Volvos, BMWs and Toyotas - basically
                 the majority of 4x4’s on the current market.</p>

               <p>So that wraps up the car show walk through. The entry to the show also gives you access to the Top
                 Gear attraction and the museum so it's definitely worth walking around and seeing the collection. I
                 hope you have enjoyed reading the walk through and that it has given you a good idea of what to expect,
                 I would definitely recommend going to the car show if you haven’t been before. I am sure you will enjoy
                 it as much as I did. Thanks for reading!</p>

               <p>I took a lot of pictures so to see all my pictures from the show visit my instagram page!</p>

               <p>For more information on what's on at Beaulieu events:
                 https://www.beaulieu.co.uk/events/</p>
               <ul class="list-inline">
                 <li>Written September 2019</li>
                 <li> <span class="copyright">Copyright &copy; The Drive Begins 2020</span></li>
               </ul>
               <button class="btn btn-primary" data-dismiss="modal" type="button">
                 <fa-icon [icon]="faTimes"></fa-icon>
                 Close
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal 3 -->
 <div class="blog-modal modal fade" id="blogModal3" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto">
             <div class="modal-body">
               <img class="img-fluid d-block mx-auto" src="../../assets/Blog-Modals/mg-maestro-full.png" alt="">
               <p>Full write up of this amazing car coming soon!</p>
               <ul class="list-inline">
                 <li>To be written</li>
                 <li> <span class="copyright">Copyright &copy; The Drive Begins 2020</span></li>
               </ul>
               <button class="btn btn-primary" data-dismiss="modal" type="button">
                 <fa-icon [icon]="faTimes"></fa-icon>
                 Close
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal 4 -->
 <div class="blog-modal modal fade" id="blogModal4" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto">
             <div class="modal-body">
               <img class="img-fluid d-block mx-auto" src="../../assets/Blog-Modals/coming-soon.png" alt="">
               <ul class="list-inline">
               </ul>
               <button class="btn btn-primary" data-dismiss="modal" type="button">
                 <fa-icon [icon]="faTimes"></fa-icon>
                 Close
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal 5 -->
 <div class="blog-modal modal fade" id="blogModal5" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto">
             <div class="modal-body">
               <img class="img-fluid d-block mx-auto" src="../../assets/Blog-Modals/coming-soon.png" alt="">
               <ul class="list-inline">
               </ul>
               <button class="btn btn-primary" data-dismiss="modal" type="button">
                 <fa-icon [icon]="faTimes"></fa-icon>
                 Close
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal 6 -->
 <div class="blog-modal modal fade" id="blogModal6" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
         <div class="lr">
           <div class="rl"></div>
         </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto">
             <div class="modal-body">
               <img class="img-fluid d-block mx-auto" src="../../assets/Blog-Modals/coming-soon.png" alt="">
               <ul class="list-inline">
               </ul>
               <button class="btn btn-primary" data-dismiss="modal" type="button">
                 <fa-icon [icon]="faTimes"></fa-icon>
                 Close
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
