<section class="bg-light page-section" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Blogs</h2>
        <h3 class="section-subheading text-muted">Read our latest blogs.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 blog-item">
        <a class="blog-link" data-toggle="modal" href="#blogModal1" (click)="magnusBlogClick()">
          <div class="blog-hover">
            <div class="blog-hover-content">
              <div class="text">Read now..</div>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/Blogs/beach-book.png" alt="">
        </a>
        <div class="blog-caption">
          <h4>Magnus Walker</h4>
          <p class="text-muted">Urban Outlaw Book Review</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 blog-item">
        <a class="blog-link" data-toggle="modal" href="#blogModal2" (click)="beaulieuBlogClick()">
          <div class="blog-hover">
            <div class="blog-hover-content">
              <div class="text">Read now..</div>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/Blogs/porsche-911.png" alt="">
        </a>
        <div class="blog-caption">
          <h4>Beaulieu Super Car Show</h4>
          <p class="text-muted">Walk Through Review</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 blog-item">
        <a class="blog-link" data-toggle="modal" href="#blogModal3" (click)="mgmaestroBlogClick()">
          <div class="blog-hover">
            <div class="blog-hover-content">
              <div class="text">Read now..</div>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/Blogs/mg-maestro.png" alt="">
        </a>
        <div class="blog-caption">
          <h4>MG Maestro Turbo</h4>
          <p class="text-muted">Coming soon</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 blog-item">
        <a class="blog-link" data-toggle="modal" href="#blogModal4" (click)="cafeBlogClick()">
          <div class="blog-hover">
            <div class="blog-hover-content">
              <div class="text">Read now..</div>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/Blogs/cafe.png" alt="">
        </a>
        <div class="blog-caption">
          <h4>Local Cafés</h4>
          <p class="text-muted">Coming soon</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 blog-item">
        <a class="blog-link" data-toggle="modal" href="#blogModal5" (click)="driveBlogClick()">
          <div class="blog-hover">
            <div class="blog-hover-content">
              <div class="text">Read now..</div>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/Blogs/drive.png" alt="">
        </a>
        <div class="blog-caption">
          <h4>Local Drives</h4>
          <p class="text-muted">Coming soon</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 blog-item">
        <a class="blog-link" data-toggle="modal" href="#blogModal6" (click)="businessBlogClick()">
          <div class="blog-hover">
            <div class="blog-hover-content">
              <div class="text">Read now..</div>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/Blogs/local-business-thumbnail.png" alt="">
        </a>
        <div class="blog-caption">
          <h4>Local Business</h4>
          <p class="text-muted">Coming soon</p>
        </div>
      </div>
    </div>
  </div>
</section>
